.display {
  text-align: center;
  width: 65%;
  height: 250px;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
   user-select: none;
}
body{
  background-color: rgb(255, 0, 0);
}

p {
  color: #fff;
  font-size: 27px;
  font-family: 'Zen Maru Gothic', sans-serif;
}



/* 背景画像 */
.bg-image{
  display: block;
  position: fixed;
  right: 0;
  bottom: 0;
  top: 0;
  left: 0;
  z-index: -1;
}
.img-main{    
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  top: 50%;
  transform: translateY(-50%);

  /* スマホ用画面幅 仮 */
  min-height: 140vh;
}



/* 新しいセクター */
.blanks {
  padding-bottom: 400px;
}

.min-blanks {
  display: inline-block;
  margin-top: 50px;
}



/* 文字サイズ特大 */
.big-letter150 {
  color: #fff;
  font: 100px "Vibur";
  font-family: 'Zen Maru Gothic', sans-serif;
}
/* 文字サイズ大 */
.big-letter100 {
  color: #fff;
  font: 75px "Vibur";
  font-family: 'Zen Maru Gothic', sans-serif;
}
/* 文字サイズ大きめ */
.big-letter50 {
  color: #fff;
  font: 28px "Vibur";
  font-family: 'Zen Maru Gothic', sans-serif;
}
/* 文字サイズ標準あたり */
.big-letter25 {
  color: #fff;
  font: 20px "Vibur";
  font-family: 'Zen Maru Gothic', sans-serif;
}



/* 文字右よせ */
.cell-r{
  vertical-align: top;
  text-align: right;
}
/* 文字左よせ */
.cell-l{
  vertical-align: top;
  text-align: left;
}



/* マーカー */
.marker{
  display: inline-block;
  background-color: rgba(248, 255, 105, 0.505);
  color: #fff;
  padding-left: 5px;
  padding-right: 5px;
}



/* 保有資格 エクセル式 左右寄せ */
/* 表の枠 */
th{
  padding: 10px;
  color: #fff;
  font-size: 27px;
  font-family: 'Zen Maru Gothic', sans-serif;
}
td{
  padding: 10px;
  color: #fff;
  font-size: 27px;
  font-family: 'Zen Maru Gothic', sans-serif;
}
/* スマホで縦並びに変更 */
.for_smartphone_certification.implement{
  padding: 10px;
  color: #fff;
  font-size: 27px;
  font-family: 'Zen Maru Gothic', sans-serif;
  display: block;
}
.for_smartphone_certification.implement{
  padding: 10px;
  color: #fff;
  font-size: 27px;
  font-family: 'Zen Maru Gothic', sans-serif;
  display: block;
}



/* トップに戻る */
.back-to-top{
  position:fixed;
  right:30px;
  bottom:30px;
}
.back-to-top img{
  width: 7vw;
}
.link{
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: 15px;
  font-family: 'Zen Maru Gothic', sans-serif;
}
.link:hover{
  color: rgb(255, 255, 255);
  text-decoration: none;
}




/* メニュー */
#g-nav{
  position:fixed;
  z-index: 1;

  top:0px;
  left: -120%;
  width:15%;
  height: 100vh;/*ナビの高さ*/
  background:rgba(120, 120, 120, 0.525);

  transition: all 0.5s;
}
/*アクティブクラスがついたら位置を0に*/
#g-nav.panelactive{
  left: 0;
}
/*ナビゲーションの縦スクロール*/
#g-nav.panelactive #g-nav-list{
  position: fixed;
  z-index: 1; 
  width: 12%;
  left: 13px;
  height: 100vh;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
/*ナビゲーション*/
#g-nav ul {
  position: absolute;
  z-index: 1;
  width: 100%;
  top: 7%;
}
/*リストのレイアウト設定*/
#g-nav li{
  list-style: none;
  text-align: center;
  margin-top: 35%;
}
#g-nav li a{
  color: rgb(255, 255, 255);
  text-decoration: none;
  padding: 10px;
  letter-spacing: 0.1em; /*文字間隔*/
}


/* ボタン */
.openbtn1{
position:fixed;
  z-index: 2;
  top:10px;
  left: 10px;
  cursor: pointer;
  width: 50px;
  height:50px;
}
/* ×に変化 */  
.openbtn1 span{
  display: inline-block;
  transition: all 0.4s;
  position: absolute;
  left: 14px;
  height: 3px;
  border-radius: 2px;
  background-color: rgb(102, 102, 102);
  width: 45%;
}
/* バーガーラインの各線ポジション */
.openbtn1 span:nth-of-type(1) {
  top:15px; 
}
.openbtn1 span:nth-of-type(2) {
  top:23px;
}
.openbtn1 span:nth-of-type(3) {
  top:31px;
}
/* クロス時の各線ポジション */
.openbtn1.active span:nth-of-type(1) {
  top: 18px;
  left: 18px;
  transform: translateY(6px) rotate(-45deg);
  width: 30%;
}
.openbtn1.active span:nth-of-type(2) {
  opacity: 0;
}
.openbtn1.active span:nth-of-type(3){
  top: 30px;
  left: 18px;
  transform: translateY(-6px) rotate(45deg);
  width: 30%;
}

/* スマホ用にメニュー文字縦並び */
.for_smartphone_menu.implement{
  writing-mode: vertical-rl;
}
